# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Git-Project.iml
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
